<%= form_with(model: [@blog, @blog.comments.build]) do |form| %>
  <div>
    <%= form.label :comment, style: "display: block" %>
    <%= form.text_field :comment %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
