<center>
    <h1>
        <%= @temp %> <br/>
        blog 폴더의 test.erb 입니다!
    </h1>
    <% if @condition %>
        <p>주어진 조건이 참입니다.</p>
    <% else %>
        <p>주어진 조건이 거짓입니다.</p>
    <% end %>
</center>